<!-- Heading for the "Add Expense" form -->
<h2>Add Expense</h2>

<!-- The main container row that holds the form content -->
<div class="row">

    <!-- The column that contains the expense entry form -->
    <div class="col">

        <!-- The form element with ngSubmit directive to call the onSubmit() method when the form is submitted.
             The formGroup directive binds the form to the expenseForm FormGroup in the component. -->
        <form (ngSubmit)="onSubmit()" [formGroup]="expenseForm">

            <!-- Form Group for the expense entry fields -->
            <div class="form-group">

                <!-- Label and input field for the expense description -->
                <label for="expenseDescription">Description</label>
                <input type="text" class="form-control" formControlName="expenseDescription">

                <!-- Label and input field for the expense value -->
                <label for="expenseValue">Value</label>
                <input type="number" class="form-control" formControlName="expenseValue">

                <!-- Label and select dropdown for the expense frequency -->
                <label for="expenseFrequency">Frequency</label>
                <select id="expenseFrequency" formControlName="expenseFrequency" class="form-control">
                    <!-- Using *ngFor to loop through frequencyOptions from the component and populate the select options -->
                    <option *ngFor="let frequency of frequencyOptions" [value]="frequency">{{ frequency }}</option>
                </select>

                <!-- Alternative method for populating select options commented out -->
                <!-- <select class="form-select" formControlName="expenseFrequency">
                    <option value="" disabled selected>Select...</option>
                    <option value="daily">Daily</option>
                    <option value="weekly">Weekly</option>
                    <option value="fortnightly">Fortnightly</option>
                    <option value="four-weekly">Four Weekly</option>
                    <option value="monthly">Monthly</option>
                    <option value="yearly">Yearly</option>
                </select> -->

            </div>

            <!-- The submit button to add the expense entry to the form -->
            <div>
                <button class="btn btn-success">Submit</button>
            </div>

        </form>

    </div>

</div>
