<!-- This is the heading for the page, welcoming the user to their budget. -->
<div class="container mt-3">
    <h2 class="mt-4">Welcome to your Budget</h2>
</div>

<!-- A container -->
<div class="container mt-5">
    <h2 class="mb-3">Summary</h2>

    <!-- This div creates a row to display Totals side by side. -->
    <div class="row">
        <div class="col-md-3">
            <table class="table table-borderless">
                <tbody>
                    <!-- Table row for selecting the period. -->
                    <tr class="d-flex justify-content-between align-items-center mb-3">
                        <td><b>Select Period:</b></td>
                        <td class="text-success float-left">
                            <!-- Dropdown for selecting the period, triggers onPeriodSelection() on change. -->
                            <select class="form-control" id="selectPeriod" (change)="onPeriodSelection($event)">
                                <option value="weekly">Weekly</option>
                                <option value="fortnightly">Fortnightly</option>
                                <option value="four-weekly">Four-weekly</option>
                                <option value="monthly">Monthly</option>
                                <option value="yearly">Yearly</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Columns for Total Income, Total Expenses, and Disposable Income -->
        <div class="col-md-3">
            <table class="table table-borderless">
                <tbody>
                    <!-- Table row for Total Income. -->
                    <tr class="d-flex justify-content-between align-items-center mb-3">
                        <td class="text-success float-left"><b>Total Income:</b></td>
                        <td class="float-right">€{{selectedPeriodIncome | number:'1.2-2'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <table class="table table-borderless">
                <tbody>
                    <!-- Table row for Total Expenses. -->
                    <tr class="d-flex justify-content-between align-items-center mb-3">
                        <td class="text-danger float-left"><b>Total Expenses:</b></td>
                        <td class="float-right">€{{selectedPeriodExpense | number:'1.2-2'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <table class="table table-borderless">
                <tbody>
                    <!-- Table row for Disposable Income. -->
                    <tr class="d-flex justify-content-between align-items-center mb-3">
                        <td class="text-primary float-left"><b>Disposable Income:</b></td>
                        <td class="float-right">€{{disposableIncome | number:'1.2-2'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- The main container div that holds the budget-related content. -->
<div class="container mt-5">

    <!-- This div creates a row to display two columns side by side. -->
    <div class="row">

        <!-- The first column, dedicated to displaying income-related information. -->
        <div class="col-md-6">
            <!-- Flexbox container for aligning heading and "Add Income" button. -->
            <div class="d-flex justify-content-between align-items-center mb-3">
                <!-- Heading for the income section. -->
                <h3 class="float-left">Income</h3>
                <!-- "Add Income" button with router link to "income-entry" route. -->
                <a routerLink="income-entry">
                    <button type="button" class="btn btn-success">Add Income</button>
                </a>
            </div>

            <!-- Table to display income entries. -->
            <table id="incomeTable" class="table table-bordered">
                <thead>
                    <!-- Table header row with column names. -->
                    <tr>
                        <th>Description</th>
                        <th>Income</th>
                        <th>Frequency</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Using Angular's *ngFor directive to loop through incomeEntries and display each entry. -->
                    <tr *ngFor="let incomeEntry of incomeEntries; let i = index">
                        <!-- Displaying income entry details in respective columns. -->
                        <td>{{incomeEntry.incomeDescription}}</td>
                        <td>€{{incomeEntry.incomeValue}}</td>
                        <td>{{incomeEntry.incomeFrequency}}</td>
                        <!-- Buttons for editing and deleting the current income entry. -->
                        <td>
                            <button (click)="incomeEdit(incomeEntry.id)" type="button" class="btn btn-outline-primary">Edit</button>
                            <button (click)="incomeDelete(incomeEntry.id)" type="button" class="btn btn-outline-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- The second column, dedicated to displaying expense-related information. -->
        <div class="col-md-6">
            <!-- Flexbox container for aligning heading and "Add Expense" button. -->
            <div class="d-flex justify-content-between align-items-center mb-3">
                <!-- Heading for the expense section. -->
                <h3 class="float-left">Expenses</h3>
                <!-- "Add Expense" button with router link to "expense-entry" route. -->
                <a routerLink="expense-entry">
                    <button type="button" class="btn btn-danger">Add Expense</button>
                </a>
            </div>

            <!-- Table to display expense entries. -->
            <table id="expenseTable" class="table table-bordered">
                <thead>
                    <!-- Table header row with column names. -->
                    <tr>
                        <th>Description</th>
                        <th>Expense</th>
                        <th>Frequency</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Using Angular's *ngFor directive to loop through expenseEntries and display each entry. -->
                    <tr *ngFor="let expenseEntry of expenseEntries; let k = index">
                        <!-- Displaying expense entry details in respective columns. -->
                        <td>{{expenseEntry.expenseDescription}}</td>
                        <td>€{{expenseEntry.expenseValue}}</td>
                        <td>{{expenseEntry.expenseFrequency}}</td>
                        <!-- Buttons for editing and deleting the current expense entry. -->
                        <td>
                            <button (click)="expenseEdit(expenseEntry.id)" type="button" class="btn btn-outline-primary">Edit</button>
                            <button (click)="expenseDelete(expenseEntry.id)" type="button" class="btn btn-outline-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
