<!-- The main container row that holds the form content -->
<div class="row">

    <!-- The column that contains the income entry form -->
    <div class="col">

        <!-- The form element with ngSubmit directive to call the onSubmit() method when the form is submitted.
             The formGroup directive binds the form to the incomeForm FormGroup in the component. -->
        <form (ngSubmit)="onSubmit()" [formGroup]="incomeForm">

            <!-- Form Group for the income entry fields -->
            <div class="form-group">

                <!-- Label and input field for the income description -->
                <label for="incomeDescription">Description</label>
                <input type="text" class="form-control" formControlName="incomeDescription">

                <!-- Label and input field for the income value -->
                <label for="incomeValue">Value</label>
                <input type="number" class="form-control" formControlName="incomeValue">

                <!-- Label and select dropdown for the income frequency -->
                <label for="incomeFrequency">Income Frequency</label>
                <select id="incomeFrequency" formControlName="incomeFrequency" class="form-control">
                    <!-- Using *ngFor to loop through frequencyOptions from the component and populate the select options -->
                    <option *ngFor="let frequency of frequencyOptions" [value]="frequency">{{ frequency }}</option>
                </select>

            </div>

            <div>
                <!-- The submit button to add the income entry to the form.
                 The [disabled] attribute is bound to the incomeForm's valid property to disable the button if the form is not valid. -->
                <button [disabled]="!incomeForm.valid" class="btn btn-success">Submit</button>
            </div>
            

        </form>

    </div>

</div>
