<div class="row">
    <div class="col">
        <form (ngSubmit)="onSubmit()"[formGroup] ="incomeForm">
            <div class="form-group">
                <label for="incomeDescription">Description</label>
                <input type="text" class="form-control" formControlName="incomeDescription">
                <label for="incomeValue">Value</label>
                <input type="text" class="form-control" formControlName="incomeValue">
                <label for="incomeFrequency">Income Frequency</label>
                <select id="incomeFrequency" formControlName="incomeFrequency" class="form-control">
                    <option *ngFor="let frequency of frequencyOptions" [value]="frequency">{{ frequency }}</option>
                </select>
                <!-- <label for="incomeFrequency">Frequency</label>
                <select class="form-select" formControlName="incomeFrequency">
                    <option value="" disabled selected>Select...</option>
                    <option value="daily">Daily</option>
                    <option value="weekly">Weekly</option>
                    <option value="weekly">Fortnightly</option>
                    <option value="weekly">Four Weekly</option>
                    <option value="monthly">Monthly</option>
                    <option value="yearly">Yearly</option>
                </select> -->
            </div>
            <button [disabled]="!incomeForm.valid" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>